.scheduleEditDeleteButton {
  margin: auto;
  width: 100px;
}

.scheduleEditDeleteButton:hover {
  background-color: red;
}

.scheduleEditUpdateButton {
  margin: auto;
}

.modalLabel {
  width: max-content;
  font-family: "Roboto Slab", serif;
  font-size: 0.8em;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .mainTitle {
    margin: auto;
    color: black;
    font-size: 20px;
    margin-right: 0px;
  }
}
