# These variables can be accessed in the app from `process.env.`
# Example, to retreive MongoDB Url, use `process.env.MONGODB_URL`

# MongDB
MONGODB_URL=xxxxxxxx

# MySQL Database
DB_HOSTNAME=xxxxxxxx
DB_NAME=xxxxxxxx
DB_USERNAME=xxxxxxxx
DB_PASSWORD=xxxxxxxx
DB_PORT=3306

# Authentication
BYCRYPT_SALT_ROUNDS=10
NEXTAUTH_URL=http://localhost:3000

# ML Pipeline
SHIFT_INTERVAL_MINUTES=30

# Validator
VALIDATOR_AUTH_TOKEN=xxxxxxxx