.div {
  background: #ffffff;
  z-index: 4;
  border-radius: 10px;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(2, 100px);
}

.div:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.avatar {
  border-radius: 50%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.listItem:hover {
  box-shadow: 0 10px 30px #cc970d;
  border-color: transparent;
  border-radius: 10px;
}

.icon {
  color: #212529;
}

.h3 {
  font-weight: 100;
  color: #000000;
  font-size: 70%;
  margin-left: 3em;
  font: normal normal normal 18px/24px Roboto Slab;
  letter-spacing: 0px;
}
