.calendar {
  width: 100%;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  width: 97%;
  margin: auto;
  background-color: #fff;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  transition: 0.25s ease-out;
  min-height: 150px;
  display: flex;
  flex-direction: column;
}

.day:hover {
  background: whitesmoke;
  transition: 0.5s ease-out;
}

.date {
  margin: 10px;
  margin-bottom: 0;
  text-align: left;
  font: normal normal normal 15px/20px Roboto Slab;
  letter-spacing: 0px;
  opacity: 1;
}
