.h3 {
  letter-spacing: var(--unnamed-character-spacing-0);
  font: normal normal bold 11px/11px Roboto Slab;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 0;
}

.backButton {
  size: 10%;
}

.line {
  width: 100%;
  margin-top: 25px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.pastTrendVisPosition {
  width: 1000px;
  height: 500px;
  margin: auto;
}
