.icon {
  font-family: "Material Icons", serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* GENERAL */

.body {
  top: 0px;
  left: 200px;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 0;
  padding: 0;
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.column {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  width: 10px;
}

/* Calendar */

.calendar {
  width: 100%;
  background: white;
  margin: 0 auto;
}

.calendar .header {
  width: 200px;
  height: 30px;
  color: #000000;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000052;
  border-radius: 10px;
  margin-bottom: 20px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/20px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 14px/14px Roboto Slab;
  letter-spacing: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em;
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
  color: dodgerblue;
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  font-weight: 100;
  color: #000000;
  font-size: 70%;
  padding: 0.75em 0;
  border-radius: 12px;
  background-color: #eaeaea;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/24px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 18px/24px Roboto Slab;
  letter-spacing: 0px;
}

.calendar .body .cell {
  position: relative;
  display: flex;
  height: 6.25em;
  overflow: hidden;
  cursor: pointer;
  background: white;
  box-shadow: 0px 3px 6px #00000029;
  background: #ffffff 0% 0% no-repeat padding-box;
  transition: 0.25s ease-out;
  opacity: 1;
}

.calendar .body .cell:hover {
  background: whitesmoke;
  transition: 0.5s ease-out;
}

.calendar .body .cell .number {
  margin: 10px;
  top: 530px;
  left: 1240px;
  width: 18px;
  height: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/24px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 15px/20px Roboto Slab;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.calendar .body .disabled {
  color: gray;
  pointer-events: none;
  background-color: lightgrey;
  opacity: 0.5;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: #1affa0;
  opacity: 0;
  font-size: 5em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg {
  opacity: 0.2;
  transition: 0.5s ease-in;
}

.calendar .body .column {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.colStart {
  justify-content: flex-start;
  text-align: left;
}

.colCenter {
  justify-content: center;
  text-align: center;
}

.colEnd {
  justify-content: flex-end;
  text-align: right;
  padding: 0;
  width: 10px;
}

.daysOfTheWeek {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 14px;
  opacity: 1;
  margin-bottom: 5px;
}

.check {
  display: table;
  margin: auto;
  font-size: 30px;
}