@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.row {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
}

/* Bootstrap Overrides */

.btn-warning {
  color: white;
  background-color: #dba10e;
  border: 2px double transparent;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background-origin: border-box;
  box-shadow: 0 10px 30px rgba(219, 161, 14, 0.3);
  transition: all 0.5s linear;
  min-width: 150px;
}

.btn-warning:hover {
  color: white;
  box-shadow: 0 10px 30px rgba(219, 161, 14, 0.6);
  border-color: transparent;
}

.btn-success {
  border: 2px double transparent;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background-origin: border-box;
  box-shadow: 0 10px 30px rgba(79, 219, 14, 0.3);
  transition: all 0.5s linear;
  min-width: 150px;
}

.btn-success:hover {
  color: white;
  box-shadow: 0 10px 30px rgba(120, 255, 57, 0.3);
  border-color: transparent;
}

.btn-danger {
  border: 2px double transparent;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background-origin: border-box;
  box-shadow: 0 10px 30px rgba(255, 147, 147, 0.3);
  transition: all 0.5s linear;
  min-width: 150px;
}

.btn-danger:hover {
  color: white;
  box-shadow: 0 10px 30px rgba(73, 0, 0, 0.3);
  border-color: transparent;
}

.btn-dark {
  border: 2px double transparent;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background-origin: border-box;
  box-shadow: 0 10px 30px rgba(185, 185, 185, 0.3);
  transition: all 0.5s linear;
  min-width: 150px;
}

.btn-dark:hover {
  color: white;
  box-shadow: 0 10px 30px rgba(73, 0, 0, 0.3);
  border-color: transparent;
}

.btn-primary {
  color: white;
  border: 2px double transparent;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background-origin: border-box;
  box-shadow: 0 10px 30px rgba(14, 103, 219, 0.3);
  transition: all 0.5s linear;
  min-width: 150px;
}

.btn-primary:hover {
  color: white;
  box-shadow: 0 10px 30px rgba(14, 103, 219, 0.6);
  border-color: transparent;
}

.form-control,
input {
  border-radius: 8px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(77 87 222 / 30%);
  width: 100%;
  border: 1px solid #fff;
  padding-left: 10px;
}

.form-control::placeholder,
input::placeholder {
  opacity: 0.5;
  font-size: 0.75em;
}
