.formBody {
  background-color: white;
  padding-right: 40px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 15px;
  width: 95%;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(185, 185, 185, 0.3);
}

.button {
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.title {
  margin: auto;
  font-weight: bold;
  position: relative;
  top: -10px;
}

.label_name {
  float: left;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.label {
  float: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

.errors {
  color: #bf1650;
  word-break: break-word;
}

.errors::before {
  display: inline;
  content: "⚠ ";
}
