.modelStyle {
  width: 95%;
  max-width: 500px;
  margin: auto;
  border-radius: 15px;
  border: none;
}

.mainTitle {
  margin: auto;
  color: black;
  margin-right: 0px;
}
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .mainTitle {
    margin: auto;
    color: black;
    font-size: 20px;
    margin-right: 0px;
  }
}
