.shiftTitle {
  margin: auto;
  color: black;
  font-weight: initial;
  font-family: Arial;
  margin-right: 0px;
}

.shiftEditBody {
  color: black;
  font-family: Arial;
  font-weight: initial;
  font-family: Arial;
}

.modelStyle {
  width: 95%;
  max-width: 500px;
  margin: auto;
  border-radius: 15px;
  border: none;
}

.shiftEditUpdateButton {
  background-color: darkseagreen;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  border-color: green;
  margin: auto;
  width: 100px;
}

.shiftEditDeleteButton {
  background-color: indianred;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  border-color: red;
  margin: auto;
  width: 100px;
}

.shiftEditDeleteButton:hover {
  background-color: red;
}

.shiftEditUpdateButton:hover {
  background-color: green;
}

.shiftAddSubmitButton {
  background-color: darkseagreen;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  border-color: green;
  margin: auto;
  width: 100px;
}

.shiftAddSubmitButton:hover {
  background-color: green;
}

.shiftMainModal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mainButton {
  /* max-width: 125px; */
  border-radius: 10px;
  margin: auto;
  border-color: white;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 30px rgba(158, 158, 158, 0.3);
  cursor: pointer;
  padding: 1.5em;
  transition: all 0.25s ease-in-out;
}

.mainButton:hover {
  box-shadow: 0 10px 30px rgba(158, 158, 158, 0.75);
  transition: all 0.25s ease-in-out;
}

.mainTitle {
  margin: auto;
  color: black;
  margin-right: 0px;
}

.modalLabel {
  width: max-content;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  /* .modelStyle {
    width: 300px;
    margin: auto;
  } */
  /* .mainButton {
    height: 90px;
    width: 80px;
    border-radius: 5px;
    margin-left: 25px;
    border-color: white;
    background: linear-gradient(to bottom right, #ffb7b7, #9fc6ff);
  } */
  .mainTitle {
    margin: auto;
    color: black;
    font-size: 20px;
    margin-right: 0px;
  }
}
