.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background: url(/images/home-banner.png) no-repeat scroll center top #fff;
}

.main {
  padding: 5rem 0;
  width: 100%;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: left;
}

.dashboard {
  background: url(/images/banner.png) no-repeat scroll center top #fff;
}